.skills-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(193, 42, 140)
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin: 0 auto 1rem; /* Açıklama metni için alt boşluğu azaltın */
    max-width: 800px;
    line-height: 1.5;
  }
  
  .project-slide {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Önceki ve sonraki ok stillerini kaldırdık */
  .custom-arrow {
    display: none; /* Okları gizledik */
  }
  
  .project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto; /* Resmi ortalamak için */
    border-radius: 8px; /* Köşeleri yuvarlayın (isteğe bağlı) */
    position: relative; /* Resmi konumlandırmak için */
  }
  
  /* Responsive tasarım için medya sorguları */
  @media (max-width: 768px) {
    .project-image {
      width: 90%;
      max-height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .project-image {
      width: 95%;
      max-height: 200px;
    }
  }
