.navbar {
    background: rgb(255, 255, 255);
    height: 5rem;
    width: 100vw;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo styling */
  .logo {
    object-fit: cover;
    height: 2.5rem;
    width: 13rem;
    cursor: pointer;
  }
  
  /* Button styling for desktop */
  .desktopMenuBtn {
    background: #c12a8c;
    color: white;
    border: none;
    padding: 0.7rem 1.75rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1.5rem;
  }
  
  .desktopMenuBtn:hover {
    background: #e09bc1;
  }
  
  /* Mobile Menu Icon */
  .mobMenu {
    display: none;
    height: 1.8rem;
  }
  
  /* Mobile Menu Button */
  .mobileMenuBtn {
    color: white;
    background: #c12a8c;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .mobileMenuBtn:hover {
    background-color: #e09bc1;
  }
  
  /* Mobile Dropdown Menu */
  .navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    background: white;
    border-radius: 1rem;
  }
  
  /* Responsive Design for Mobile Devices */
  @media screen and (max-width: 720px) {
    .desktopMenuBtn {
      display: none;
    }
  
    .mobMenu {
      display: flex;
    }
  
    .navMenu {
      display: flex;
    }
  }
  