.navbar {
    background: rgb(255, 255, 255);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktopMenu {
    display: flex;
}
.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: rgb(193, 42, 140);; /* Varsayılan renk */
    text-decoration: none; /* Alt çizgi kaldırıldı */
}
.desktopMenuListItem:hover {
    color: rgb(224, 155, 193);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(224, 155, 193);
}
.desktopMenuBtn {
    background: rgb(193, 42, 140);
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.75rem; /* Daha geniş bir arka plan için padding artırıldı */
    border-radius: 2.5rem; /* Kenarların yuvarlaklığı biraz artırıldı */
    transition: background-color 0.3s ease, padding 0.3s ease; /* Geçiş efekti eklendi */
    font-size: 1rem; /* Yazı boyutu artırıldı */
}

.desktopMenuBtn:hover {
    background: rgb(224, 155, 193); /* Hover durumunda değişen arka plan rengi */
}

.icon {
    margin-right: 0.5rem;
    font-size: 1.2rem; /* İkon boyutu */
    transition: color 0.3s ease;
}

.desktopMenuBtn:hover .icon {
    color: rgb(255, 255, 255); /* Hover durumunda ikon beyaz olur */
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 10rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
}
.listItem {
    color: rgb(255, 255, 255);
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(193, 42, 140);
    text-decoration: none; /* Alt çizgi kaldırıldı */
    transition: color 0.3s ease; /* Geçiş efekti eklendi */
    border-radius: 2.5rem;
}

.listItem:hover {
    color: rgb(255, 255, 255); 
    background-color: rgb(224, 155, 193);

}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}
