/* .footer {
    width: 100%;
    height: auto; 
    color: #666;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center; 
}


@media (max-width: 768px) {
    .footer {
        font-size: 0.8rem; 
        padding: 0.5rem; 
    }
}
*/